{% extends 'making/base.html' %}
{% load static %}

{% block body_block %}
<div class="body-text">
    <h3>Welcome to Making Projects</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Erat pellentesque adipiscing commodo elit at imperdiet. Quam pellentesque nec nam aliquam sem.
        Risus sed vulputate odio ut. Nulla at volutpat diam ut venenatis tellus in metus. Tempus quam pellentesque
        nec nam aliquam sem. Nec tincidunt praesent semper feugiat nibh sed pulvinar proin gravida.
        Vestibulum mattis ullamcorper velit sed ullamcorper morbi. Duis at tellus at urna. Amet aliquam id diam
        maecenas ultricies mi eget mauris. </p>
</div>

<div class="grid-container">
    {% if projects %}

    {% for project in projects %}
    <div class="grid-item">

        <h4>{{ project.title }}</h4>
        <div class="type-buttons">
            {% for category in project.category.all %}
            <button class="project-type"> {{ category }}</button>
            {% endfor %}
        </div>

        {% with 'images/'|add:project.slug|add:'.png' as project_image %}
            <img src="{% static project_image %}" alt="{{ project.alt_text }}">
        {% endwith %}

        
        <p> {{ project.description }} </p>
        <a href="/making/project/{{ project.slug }}/">Link</a>

    </div>
    {% endfor %}

    {% else %}
    <strong>There are no projects present.</strong>
    {% endif %}
</div>
{% endblock %}