{% extends 'making/base.html' %}
{% load static %} 

{% block body_block %}
    {% if project %} 
        <b>{{ project.title }}</b> <br>       
        
        {% for category in project.category.all %}
            <button class="project-type"> {{ category }}</button>                 
        {% endfor %}           
        
        <p> {{ project.instructions }} </p>
        
        {% with 'images/'|add:project.slug|add:'.png' as project_image %}
            <img src="{% static project_image %}" alt="picture of the project">
        {% endwith %}


    {% else %} 
    <b>Project not found.</b>
    {% endif %}
{% endblock %}