<!DOCTYPE html>
{% load static %} 
<html>
<link rel="stylesheet" href="{% static 'basic.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'images/temp_icon.png'  %}"/>
<head lang="en">
    <meta charset="UTF-8" />
    <title>Making Projects</title>
</head>

<body>
    {% block header_block %}
    <!-- This is header_block's default content. -->
    <div class="header-grid">
        <a href="/making/" class="header-icon">
            <img src="{% static 'images/temp_icon.png' %}" alt="Temporary Icon">
            <h3 class="header-title">Making Projects</h3>
        </a>
        <div class="topnav">
            <a href="#">Projects</a>
            <a href="#">Syllabus</a>
            <a href="#">About</a>
        </div>

        <div class="search-bar"> Searchbar </div>
    </div>
    {% endblock %}


    {% if project %} 
        <b>{{ project.title }}</b> <br>
        
        
        {% for category in project.category.all %}
            <button class="project-type"> {{ category }}</button>                 
        {% endfor %}           
        
        <p> {{ project.instructions }} </p>
        <img src="{% static 'images/project_image.png' %}" alt="Temporary Icon">
               
    
    {% else %} 
    <b>Project not found.</b>
    {% endif %}

    {% block footer_block %}
    <div class="footer"> </div>
    <!-- This is footer_block's default content. -->
    {% endblock %}


</body>

</html>