{% extends 'making/base.html' %}
{% load static %} 

{% block body_block %}
    {% if updated %} 
        Your profile has been updated.
    {% endif %} 
    Update here! 

    <form id="update_form" method="post" action="{% url 'making:update' %}">

        {% csrf_token %}

        <!-- display each form -->
        <!-- as_p wraps each form element as a paragraph -->
        
        {{ profile_form.as_p }}

        <input type="submit" name="submit" value="update" /> 
    </form>
    
{% endblock %}