{% extends 'making/index.html' %}
{% load static %}
{% block title %}
Create Profile 
{% endblock %}
{% block page_title %}
Create Profile
{% endblock %}


{% block body %}
<form method="post" action="{% url 'making:create_profile' %}">
    {% csrf_token %}
    {{ profile_form.as_p }}
    {% for field in requirements_form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        <div>{{ field.label_tag }} </div> 
        <div>{{ field }}</div>
        <div>{{ field.help_text }}</div>
    </div>
    {% endfor %}

    {{ toolFormSet.management_form }}
    <div id="form_set">
    {% for i in toolFormSet %}   
        <div class="no_error">
            {{ i }}
        </div>
    {% endfor %}   
    </div>
    <input type="button" value="Add Tool" id="add_more"/>
    <input type="button" value="Delete Tool" id="delete"/>
    <input type="submit" value="Create Profile" id="submit"/> 
    <div id="empty_form" style="display:none">
        <div class="no_error">
            {{ toolFormSet.empty_form }}
        </div>
    </div>
</form>

<script src="{% static 'making/js/addToolForm.js' %}"></script>
<script>
    document.querySelector('#add_more').addEventListener("click",addForm)   
</script>
<script>
    document.querySelector('#delete').addEventListener("click",deleteForm)   
</script>

{% endblock %}