{% extends 'making/index.html' %}
{% load static %}
{% block title %}
Create Profile 
{% endblock %}
{% block page_title %}
Create Profile
{% endblock %}


{% block body %}
<form method="post" action="{% url 'making:create_profile' %}">
    {% csrf_token %}
    {{ profile_form.as_p }}
    {{ requirements_form.as_p }}

    {{ toolFormSet.management_form }}
    <div id="form_set">
    {% for i in toolFormSet %}   
        <div class="no_error">
            {{ i }}
        </div>
    {% endfor %}   
    </div>
    <input type="button" value="Add Tool" id="add_more"/>
    <input type="button" value="Delete Tool" id="delete"/>
    <input type="submit" value="Create Profile" id="submit"/> 
    <div id="empty_form" style="display:none">
        <div class="no_error">
            {{ toolFormSet.empty_form }}
        </div>
    </div>
</form>

<script src="{% static 'making/js/addToolForm.js' %}"></script>
<script>
    document.querySelector('#add_more').addEventListener("click",addForm)   
</script>
<script>
    document.querySelector('#delete').addEventListener("click",deleteForm)   
</script>

{% endblock %}