{% extends 'making/index.html' %}
{% block body_block %}
<br>
<form method="post" action="{% url 'making:create_syllabus' %}">
    {% csrf_token %}
    {{ syllabus_form }}
    <input type="submit" name="submit" value="Submit" /> 
</form>
User's original profile: {{ og_profile }} <br>
User's end profile: {{ user_profile }} <br>
End project: {{ end_project }} <br>

Syllabus: <br>
{% for i in syllabus %}
    {{ i }} <br>
{% endfor %}
All user profiles: <br>
{% for i in all_prof %}
    {{ i }} <br>
{% endfor %}
All arrays: <br>
{% for i in all_arr %}
    {{ i }} <br>
{% endfor %}


{% endblock %}