{% extends 'making/index.html' %}
{% load static %}
{% block title %}
Create Syllabus -
{% endblock %}
{% block page_title %}
Create Syllabus
{% endblock %}
{% block body %}
<p> A syllabus is a path of projects to follow to help you gain the skills needed to carry out a more difficult project that you'd like to do. This more difficult project is your "end project". </p>
<p>
<form method="post" action="{% url 'making:create_syllabus' %}">
    {% csrf_token %}
    {{ syllabus_form }}
    <input type="submit" name="submit" value="Submit" />
</form>
</p>
{% if syllabus %}
Syllabus: <br>
{% for i in projects %}
      {{ forloop.counter }}. <a href="{% url 'making:project' i.pk %}">{{ i.title }}:</a>
      {{ i.description }} <br>
      {% if i.thumbnail %}
        <img src="{% static i.thumbnail %}" /> <br>
      {% endif %}
{% endfor %}
{% endif %}


{% endblock %}