Welcome! <br>
{% if user.is_authenticated %}
    You are logged in as: {{ user.username }} <br>
    {% if user_profile %} 
        Current user profile is: {{ user_profile.profile_name }} <br>
    {% endif %}
{% endif %}

{% block body_block %}

{% endblock %}

<a href="{% url 'making:index' %}">home</a>
{% if user.is_authenticated %}
<a href="{% url 'making:logout' %}">log out</a>
<a href="{% url 'making:view_user' %}">view user</a>
<a href="{% url 'making:view_profile' %}">view profile</a>
<a href="{% url 'making:create_profile' %}">create profile</a>
<a href="{% url 'making:update_profile' %}">update profile</a>
<a href="{% url 'making:switch_profile' %}">switch profile</a>
<a href="{% url 'making:add_tool' %}">add tool</a>
<a href="{% url 'making:create_syllabus' %}">create syllabus</a>
{% else %}
<a href="{% url 'making:register' %}">register</a>
<a href="{% url 'making:login' %}">log in</a>
{% endif %}
