<form method="post" action="{% url 'making:login' %}">

    {% csrf_token %}

    {{ form }}

    <input type="submit" name="submit" value="Submit" /> 
</form>

{% if worked %} 
    Thank you for logging in
{% endif %}

<a href="{% url 'making:login' %}">log in</a>
<a href="{% url 'making:register' %}">register</a>
<a href="{% url 'making:logout' %}">log out</a>
<a href="{% url 'making:index' %}">home</a>
<a href="{% url 'making:view_user' %}">profile</a>
<!-- <form action="{% url 'making:login' %}" method="post">
{% csrf_token %}
Username: <input type="text" name="username" value="" size="50" />
Password: <input type="password" name="password" value="" size="50" />
<input type="submit" value="Submit">
</form> -->
