{% extends 'making/index.html' %}
{% load static %}
{% block title %} {{ project.title }}{% endblock %}

{% block page_title %}
{{ project.title }}
{% endblock %}

{% block body %}
{% if project %}
    <p>{{ project.description }} </p>
    <b>Materials:</b> <br>
    {% for i in project.materials %}
        - {{ i }} <br>
    {% endfor %}
    {% if project.tools %}
    <b>Tools:</b> <br>
    {% for i in project.tools %}
        {{ i.name }}: level {{i.skill_level }} <br>
    {% endfor %}
    {% endif %}
    <b>Project information:</b> <br>
    Vision: {{ project.vision }} <br>
    Dexterity: {{ project.dexterity }} <br>
    Language: {{ project.language }} <br>
    Memory: {{ project.memory }} <br>
    <b>Instructions: </b> <br>
    {% for i in project.instructions %}
        {{ forloop.counter }}. {{ i }} <br>
    {% endfor %}

    <!-- this is image stuff -->
    {% for i in paths %}
        <img src="{% static i %}" class="img-fluid"/>
    {% endfor %} 
{% endif %}
{% endblock %}