{% extends 'making/index.html' %}
{% load static %}
{% block title %} {{ project.title }}{% endblock %}

{% block page_title %}
{{ project.title }}
{% endblock %}

{% block body %}
{% if project %}
        {{ test }} <br>
        Title: {{ project.title }} <br>
        Description: {{ project.description }} <br>
        Materials:
        {% for i in project.materials %}
                - {{ i }} <br>
        {% endfor %}
        Instructions: 
        {% for i in project.instructions %}
        [{{ forloop.counter }}] {{ i }} <br>
        {% endfor %}

        Vision: {{ project.vision }} <br>
        Dexterity: {{ project.dexterity }} <br>
        Language: {{ project.language }} <br>
        Memory: {{ project.memory }} <br>
        {% for i in project.tools %}
                Tool name: {{ i.name }}.
                Skill level: {{i.skill_level }} <br>
        {% endfor %}

        <!-- this is image stuff -->
        {% for i in paths %}
                <img src="{% static i %}" />
        {% endfor %} 
{% endif %}
{% endblock %}