{% extends 'making/index.html' %}
{% load static %}


{% block body %}
{{ errors }} <br>
<form method="post" action = "{% url 'making:test_page' %}">

    {{ toolFormSet.management_form }}
    <div id="form_set">
    {% for i in toolFormSet %}   
        <table class="no_error">
            {{ i }}
        </table>
    {% endfor %}   
    </div>
    {% csrf_token %}
    <input type="button" value="Add More" id="add_more"/>
    <input type="button" value="Delete" id="delete"/> 
    <input type="submit" value="Submit" id="submit"/>
    <div id="empty_form" style="display:none">
        <table class="no_error">
            {{ toolFormSet.empty_form }}
        </table>
    </div>
</form>

<script src="{% static 'making/js/addToolForm.js' %}"></script>
<script>
    document.querySelector('#add_more').addEventListener("click",addForm)   
</script>
<script>
    document.querySelector('#delete').addEventListener("click",deleteForm)   
</script>
{% endblock %}

