{% extends 'making/index.html' %}
{% block page_title %}
View Profile
{% endblock %}

{% block body_block %}

User's name: {{ user.username }}<br>
Profile's name: {{ profile.profile_name }}<br>
Vision: {{ profile.vision }} <br>
Dexterity: {{ prpfile.dexterity }} <br>
Language: {{ profile.language }} <br>
Memory: {{ profile.memory }} <br>

{% if profile.tools %}
Tools: <br>
    {% for tool in profile.tools %}
        {{ tool.name }}: level {{ tool.skill_level }} <br>
    {% endfor %}
{% endif %}
<a href="{% url 'making:update_profile' %}">Update profile.</a>

{% endblock %}